cache
__pycache*
*.svg
*.md
!README.md

benchmark/results
benchmark/annotation_code
benchmark/endecon_code/reproduce.sh
case_study/figures
external/CellViT/docs
external/CellViT/examples
external/HistoCell-v0
external/LEMON
external/PanoSpace/panospace/_core/annotation/_RCTD_backend/extdata/
log
models
*.pdf
review
simulations/full_simulations/figures
simulations/full_simulations_v2/figures
simulations/full_simulations_v2/logs
simulations/semi_simulations/figures

debug.log
run_*
!run_infer.sh
!run_train.sh
!run_utils
!run_desc.py
!run_infer.py
!run_mask.py
!run_tile.sh
!run_train.py
!run_wsi.sh
!run_lemon.py
!run_tangram.py
!run_moco.py
!run_model.py
!run_annotation.sh
!run_extract_stats.sh
!run_gridsearch.sh
!run_hedest.sh
!run_cellvit.sh
!run_hovernet.sh
!run_mask.sh
!run_moco_ssl.sh
!run_histocell.sh
!run_panospace.sh

!external/CellViT/cellvit/models
!external/hovernet/models
!external/mhast/run_semisim.sh
!external/mhast/run_sim.sh
!external/HistoCell/run_histocell.py
!external/PanoSpace/run_panospace.py

slurm*
